<ul>
    <li id="frontMatterKey">{{ frontMatterKey }}</li>
    <li id="routeKey">{{ routeKey }}</li>
    <li id="localDataKey">{{ localDataKey }}</li>
    <li id="childLocalDataKey">{{ childLocalDataKey }}</li>
    <li id="globalDataKey">{{ global.globalDataKey }}</li>
    <li id="sessionKey">{{ data['sessionKey'] }}</li>
    <li id="shouldBeFrontMatter">{{ shouldBeFrontMatter }}</li>
    <li id="shouldBeRouteData">{{ shouldBeRouteData }}</li>
    <li id="shouldBeLocalData">{{ global.shouldBeLocalData }}</li>
</ul>